GRAFANA_ADMIN_USER=вписать тут что-то
GRAFANA_ADMIN_PASSWORD=вписать тут что-то
MYSQL_DATABASE=вписать тут что-то
MYSQL_USER=вписать тут что-то
MYSQL_PASSWORD=вписать тут что-то
MYSQL_ROOT_PASSWORD=вписать тут что-то
